<%= error_messages_for :user, :header_message => "Please Try Again!", :message => "We had some problems in updating your account." %>


<div class="middlebox">
  <h1>Edit Account</h1>
   
  <% form_for @user, :url => account_path do |f| %>
    <%= render :partial => "form", :object => f %>
    <ul class="displaylist">
      <li>
        <span></span>
        <%= f.submit "Update" %>&nbsp;<div class="actionlink"><%= link_to "Cancel", account_path %></div>
      </li>
    </ul>
  <% end %>
</div> 
